<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.arrail.dao.AppointmentAlterationDao">
    <resultMap id="BaseResultMap" type="com.test.dataFlush.peopleBase.pojo.UserBasic">
        <result column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="ADDRES" property="addres" />
        <result column="JOB" property="job" />
        <result column="PHONE" property="phone" />
        <result column="TIME" property="time" />
        <result column="IDENTITY" property="identity" />
    </resultMap>

    <sql id="Base_Column_List">
    id, name, is_disable, addres, job, phone, time, identity
  </sql>

    <!-- 查询预约患者到诊记录信息列表-->
    <!--<select id="getInfoById" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from K_USER_BASIC
        where ID = #{id}
    </select>-->

</mapper>